body{
  margin: 0;
  padding: 0;
  color: white;
  background-color: rgba(163, 48, 137, 61%);
}
main{
margin: 20px;
}
a{
  color: white;
  text-decoration: none;
  margin: 20px;
  padding: 20px;
}
h1{
  font-weight: normal;
  margin: 30px;
}
section{
  display: flex;
}
.first{
  width: 70%;
  margin: 100px 0;
}
.first p{
  width: 40%;
 margin: 30px;
}
.first img{
   padding: 10px; 
}
.second{
  margin: 60px 0;
}
.second img{
  display: inline;
  
}
.second img:nth-child(1){
  rotate: 180deg;
  margin-right: 100px;
 
}
.second img:nth-child(2){
  margin-left: 80px;
}
button{
  border: none;
  color: white;
  background-color: blueviolet;
  padding: 10px;
  border-radius: 20px;
  display: block;
  margin: -80px auto;
  cursor: pointer;
}
.lavender:hover{
box-shadow: 0 0 15px 15px rgb(73, 19, 73);
cursor: pointer;
}
.rose:hover{
  box-shadow: 0 0 15px 15px rgb(209, 52, 143);
  cursor: pointer;
  }
  .coconut:hover{
    box-shadow: 0 0 15px 15px rgb(196, 197, 127);
    cursor: pointer;
    }
    .lemon:hover{
      box-shadow: 0 0 15px 15px rgba(226, 230, 8, 0.856);
      cursor: pointer;
      }
      